.form button {
  color: #fff;
  height: 50px;
  background-color: black;
  max-width: 500px;
  text-transform: uppercase;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 500px;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
}
.inp {
  border-bottom: 1px solid #999;
}

input.error {
  border-bottom: 1px solid rgb(255, 0, 0);
}

.errorMessage {
  color: rgb(255, 0, 0);
  gap: 0;
  display: inline-block;
  position: absolute;
  bottom: -20px;
  font-size: 14px;
}
@media (max-width: 520px) {
  .form {
    align-items: center;
  }
  .form button {
    width: 400px;
  }
  .form input {
    width: 400px;
  }
}

@media (max-width: 420px) {
  .form button {
    width: 310px;
  }
  .form input {
    width: 310px;
  }
}
