.form button {
  color: #fff;
  height: 50px;
  background-color: black;
  max-width: 500px;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid;
  border-radius: 5px;
}
.form button:hover {
  transition: background-color 0.5s;
  background-color: #fff;
  color: black;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 500px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
}
.inp {
  border-bottom: 1px solid #999;
}
.form select {
  border-bottom: 1px solid #999;
}
.form select:active,
select:focus {
  outline: none;
}

input.error {
  border-bottom: 1px solid rgb(255, 0, 0);
}

.errorMessage {
  color: rgb(255, 0, 0);
  gap: 0;
  display: inline-block;
  position: absolute;
  bottom: -20px;
  font-size: 14px;
}
@media (max-width: 520px) {
  .form {
    align-items: center;
  }
  .form button {
    width: 400px;
  }
  .form input,
  select {
    width: 400px;
  }
}

@media (max-width: 420px) {
  .form button {
    width: 310px;
  }
  .form input,
  select {
    width: 310px;
  }
}
